.header {
  display: flex;
  align-items: center;
  min-height: 5.5rem;
  margin-bottom: 1.5rem;
  margin-inline: 2rem;
  --bottom-gap: -1em;
  @media only screen and (max-width: 767px) {
    justify-content: space-between;
    .mob-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      z-index: 3;
      margin-top: 1em;
    }
  }

  .logo {
    // padding: 1.5em;
    width: 5rem;
    aspect-ratio: 1;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/Logo80.png');
    @media only screen and (max-width: 280px) {
      display: none;
    }
    @media only screen and (min-width: 45em) {
      margin: 2em 0;
    }
  }
  .nav {
    display: flex;
    opacity: 0;
    transition: transform 0.35s ease-in-out, opacity 0.5s ease-in;

    @media screen and (min-width: 45em) {
      opacity: 1;
      transform: none;
      padding-inline: 4rem;
      width: 100%;
      &--list {
        max-width: 500px;
        margin-left: auto;
      }
    }
    &.open {
      position: absolute;
      z-index: 2;
      inset: 0;
      background: hsl(var(--dark400));
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      transform: translateX(0px);
      opacity: 1;
      // @supports (backdrop-filter: blur(2rem)) {
      //   background: hsl(var(--white) / 0.05);
      //   backdrop-filter: blur(2rem);
      //   -webkit-backdrop-filter: blur(2rem);
      // }

      & .nav--list {
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
    @media only screen and (max-width: 767px) {
      &.closed {
        position: absolute;
        z-index: 2;
        inset: 0;
        background: white;
        height: 100%;
        width: 100vw;
        flex-direction: column;
        transform: translateX(2000px);
        opacity: 0;
      }
    }

    &--list {
      display: flex;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      height: 100%;
      padding: 2.5em;
      &__item {
        display: inline-block;
      }

      @media only screen and (min-width: 45em) {
        &__item + .nav--list__item {
          margin-left: 5rem;
          // padding-bottom: 5em;
        }
      }
      &__item__link {
        color: hsl(var(--white));
        letter-spacing: 2.5px;
        font-size: var(--fs-600);
        font-weight: 600;
      }
      & .active {
        &:after {
          border-color: hsl(var(--light));
        }
      }
    }
    &--hamburger {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      background: transparent;
      background-repeat: no-repeat;
      width: 2rem;
      aspect-ratio: 1;
      border: none;
      @media only screen and (min-width: 45em) {
        display: none;
      }
      &[aria-expanded='true'] {
        opacity: 0;
        background-image: url('../images/icon-close.svg');
        animation: fade-in 0.5s ease-in forwards;
      }
      &[aria-expanded='false'] {
        background-image: url('../images/icon-hamburger.svg');
      }
      &:focus-visible {
        outline: 5px solid hsl(var(--white));
        outline-offset: 5px;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
